doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="Mete ARSLAN")
    meta(name="keywords" content="p5.js socket.io express raycasting")
    meta(name="description" content="p5.js Tutorial")

    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')

    script(
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous")
  body
    a(href!="./") Home
    block content
