doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title

        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong&effect=emboss|shadow-multiple")
        link(rel="stylesheet", href="/stylesheets/cssTutorialStyle.css")

    body 
        h1 TEST 
        .row.font-effect-shadow-multiple(style="background-color: lightblue;")
            .col-3 25%
            .col-9 75% 
        .row.font-effect-emboss(style="background-color: lightblue") 
            .col-12 100%