extends ../layout

block content  
  script(src!= '/javascripts/libs/p5.js') 
  
  main
    div.game-screen.column
      div.row
        div#game-canvas
      div.row
        div#game-canvas2


   
  
  script(src!= "/javascripts/tutorial1.js")
  script(src!= "/javascripts/tutorial2.js")
