extends ../exampleLayout


block content
    script(src!= '/javascripts/libs/socket.io.min.js') 

    div#game-canvas(style="padding:0")


    script(src!= '/javascripts/raycasting/boundary.js') 
    script(src!= '/javascripts/raycasting/ray.js') 
    script(src!= '/javascripts/raycasting/sketch.js') 

