extends ../exampleLayout


block content
    div#game-canvas(style="padding:0")


    script(src!= '/javascripts/raycasting2/boundary.js') 
    script(src!= '/javascripts/raycasting2/ray.js') 
    script(src!= '/javascripts/raycasting2/particle.js') 
    script(src!= '/javascripts/raycasting2/sketch.js') 

