extends ../../layout

block content    
  main
    div.game-screen.column
      div.row
        div
          iframe#game-frame1(src!="/tutorials/raycasting/example1", frameborder="0", width="640", height="480" scrolling="no") 
      div.row
        div
          iframe#game-frame1(src!="/tutorials/raycasting/example2", frameborder="0", width="640", height="480" scrolling="no") 
  
  
